.header__lang-link{
    font-family: Inter, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.17;

    text-align: right;

    margin-left: 18px;
    color: var(--text-white-color);
    text-decoration-line: none;
}

.header__lang-link:hover {
    opacity: 0.8;
    transition: opacity .5s linear ;
}

@media all and (max-width: 425px) {
    .header__lang-link{
        font-size: 18px;
        line-height: 1.1;
    }
}

