/*
* {
  outline-width: 1px;
  outline-style: solid;
  outline-color: red;
}
*/

.page{
    /*фон*/
    --background-black-color: #2A2C2F;
    /*текст*/
    --text-white-color: #ffffff;
    --text-gray-color: #AAAAAA;


    background: var(--background-black-color);
    color: var(--text-white-color);

    font-family: 'Inter', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    width: 100%;
}