/** {*/
/*  outline-width: 1px;*/
/*  outline-style: solid;*/
/*  outline-color: red;*/
/*}*/

.page{
    /*фон*/
    --background-black-color: #2A2C2F;
    /*текст*/
    --text-white-color: #ffffff;
    --text-gray-color: #AAAAAA;


    background: var(--background-black-color);
    color: var(--text-white-color);

    font-family: Inter, Helvetica, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    position: relative;
    width: 100%;
    min-width: 320px;

    padding: 28px 0 24px;
}

@media all and (max-width: 425px) {
    .page{
        padding-top: 16px;
    }
}