.cover__subtitle{
    font-family: Inter, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;

    text-align: center;

    color: var(--text-white-color);
    max-width: 360px;
    margin: auto;
}

@media all and (max-width: 425px) {
    .cover__subtitle{
        font-size: 14px;
        line-height: 1.1;
    }
}