.header{
    width: calc(100% - 48px * 2);
    margin: auto;
    padding: 1.7em 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-height: 52px;
}

@media all and (max-width: 425px) {
    .header{
        padding: 1em 0;
        max-height: 42px;
        width: calc(100% - 16px * 2);
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .header{
        width: calc(100% - 24px * 2);
    }
}