.cover__content{
    z-index: 10;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-row-gap: 32px;
    text-decoration: none;
}

@media all and (max-width: 425px) {
    .cover__content{
        grid-row-gap: 16px;
    }
}