.cover__content{
    z-index: 10;
    display: grid;
    grid-row-gap: 32px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    text-decoration: none;
}

@media all and (max-width: 425px) {
    .cover__content{
        grid-row-gap: 16px;
    }
}